<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/css/main_styles.css">
<!-- Scripts -->
<!-- End Scripts -->
</head>
<body>
	<div id="container">
		<div id="text_container">
			<h1>We Find The Best Deals On Diapers.</h1>
			<br>
			<h3>Sourced From The Top Online Retailers, We Find You Diaper Deals.</h3>
		</div>
	</div>
</body>
</html>